
:root {
  --game-container-size: 75vw;
}

@media screen and (orientation: landscape) {
  :root {
    --game-container-size: 75vh;
  }
}


body, html {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
  /*filter: invert(100%);*/
  transition: background-color 1s ease;
}

#game-container {
  max-width: 300px;
  max-height: 300px;
  height: var(--game-container-size);
  width: var(--game-container-size);
  background-color: lightblue;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border: 3px solid darkblue;
  border-radius: 20px;
}


.cell:nth-child(4n+1) {
  color: darkred;
}
.cell:nth-child(4n+2) {
  color: darkblue;
}
.cell:nth-child(4n+3) {
  color: darkgreen;
}
.cell:nth-child(4n+4) {
  color: purple;
}

.cell {
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid;
  margin: 3px;
  background-color: white;
  transition: color 0.2s ease;
  padding: 0;
  /*outline: none;*/
}

.cell:hover {
  /*color: rgb(200, 200, 0);*/
}

.cell[data-value="0"] {
  opacity: 0;
  pointer-events: none;
}


@media screen and (min-width: 450px) and (min-height: 450px) {
  #game-container {
    max-width: 350px;
    max-height: 350px;
    padding: 20px;
  }
  .cell {
    font-size: 2.5rem;
  }
}
